[submodule "dessilbi"]
	path = Project2/code/dessilbi
	url = https://github.com/huakyouin/DessiBLI.git
	branch = main
[submodule "dnoc"]
	path = Project3/code
	url = https://github.com/Tequila-Sunrise/Decoupled-Novel-Object-Captioner.git
[submodule "orc-bert"]
	path = Project4
	url = https://github.com/Tequila-Sunrise/FDU-NNDL-Final.git
	branch = main
